<app-navbar></app-navbar>
<div class="container">
  <div class="card">
     <div class="card-content">

         <h3 class="card-title">Result</h3>
         <p>Your have Scored {{ result.score }}</p>
         <p>No of Questions Attempted: {{ result.answeredQuestions }}</p>
         <p>You have answered {{ result.correctanswers }} correctly</p>
         <p>Total Questions : {{ result.totalquestions }}</p>
        </div> 
        <div class="card-action">
            <a routerLink="/" class="btn green"> Go Back</a>
        </div>
  </div>
</div>
